.header {
  background: transparent;
  border-bottom: 1px solid rgba(48, 174, 86, 0.2);
  color: #fff;
  display: flex;
  height: 88px;
  padding: 0 0 0 40px;
  justify-content: space-between;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.2s ease-in;
  .left,
  .rigth ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logo {
    width: 180px;
    height: 32px;
    background: url("./../../public/images/common/logo-white.svg") center
      no-repeat;
    background-size: 100% auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .nav-list {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;

    > li {
      height: 100%;
      span {
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        height: calc(100% + 1px);
        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 50%;
          width: 0%;
          height: 4px;
          transform: translate(-50%, 0);
          transition: width 0.2s ease-in;
        }
        &.on {
          color: green;
          &::before {
            width: calc(100% - 10px); // 20*2 : navGap
            background-color: green;
          }
        }
      }
      //   position: relative;
    }
  }
  .sub-nav {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    z-index: 10;
    color: black;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f9f9f9;
  }
  .rigth {
    ul {
      li.link-contact {
        padding: 10px;
        color: green;
        font-weight: 600;
      }
    }
  }
  //헤더 열렸을때
  &.open {
    background: #fff;
    color: #111;
    .logo {
      background: url("./../../public/images/common/logo-black.svg") center
        no-repeat;
      background-size: 100% auto;
    }
  }
}

.sub-nav {
  background: #f9f9f9;
  position: relative;
  height: 280px;
  .sub-title {
    display: flex;
    align-items: center;
    gap: 8px;
    &:before {
      content: "";
      display: inline-flex;
      width: 5px;
      height: 5px;
      background: #30ae56;
      border-radius: 100%;
    }
  }
  .sub-items {
    background: #fff;
    border-left: 1px solid #30ae56;
    border-right: 1px solid #30ae56;
    position: absolute;
    top: 0;
    padding: 30px 0;
    height: 100%;
    li {
      a {
        padding: 5px 20px;
        display: block;
        width: 100%;
        height: 100%;
      }

      a:hover {
        background: #a6e9ba48;
      }
    }
  }
}

.locale-dropdown {
  z-index: 9999;
  &.ant-dropdown {
    width: 84px;
    .ant-dropdown-menu {
      border: 1px solid #ccc;
      border-radius: 4px;
      background: #ffffff;
      box-shadow: none;
      .ant-dropdown-menu-item {
        padding: 10px 5px;
        text-align: center;
        span {
          color: #111;
          font-weight: 500;
        }
        &:hover {
          background: rgba(191, 255, 191, 0.448);
          span {
            color: #30ae56;
          }
        }
        &.ant-dropdown-menu-item-selected {
          background: transparent;
          span {
            color: #30ae56;
          }
        }
      }
    }
  }
}
