.header {
  //   background: red;
  background: black;
  color: #fff;
  display: flex;
  height: 88px;
  padding: 0 0 0 40px;
  justify-content: space-between;
  position: relative;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  .left,
  .rigth ul {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .logo {
    width: 180px;
    height: 32px;
    background: url("./../../public/images/common/logo-white.svg") center
      no-repeat;
    background-size: 100% auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .nav-list {
    margin-left: 30px;
    display: flex;
    align-items: center;
    height: 100%;

    li {
      height: 100%;
      span {
        display: flex;
        align-items: center;
        padding: 0 10px;
        cursor: pointer;
        position: relative;
        height: calc(100% + 1px);
        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          left: 50%;
          width: 0%;
          height: 4px;
          transform: translate(-50%, 0);
          transition: width 0.2s ease-in;
        }
        &.on {
          color: green;
          &::before {
            width: calc(100% - 40px); // 20*2 : navGap
            background-color: green;
          }
        }
      }
      //   position: relative;
    }
  }
  .sub-nav {
    position: absolute;
    top: 88px;
    left: 0;
    width: 100%;
    z-index: 10;
    color: black;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f9f9f9;
  }
  .rigth {
    ul {
      li.link-contact {
        padding: 10px;
        color: green;
        font-weight: 600;
      }
    }
  }
}
