.header {
  //   background: red;
  background: black;
  color: #fff;
  display: flex;
  height: 88px;
  padding: 0 0 0 40px;
  justify-content: space-between;
  position: relative;
  .left,
  .rigth ul {
    display: flex;
    align-items: center;
    background: red;
    height: 100%;
  }
  .logo {
    width: 180px;
    height: 32px;
    background: url("./../../public/images/common/logo-white.svg") center
      no-repeat;
    background-size: 100% auto;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .nav-list {
    margin-left: 30px;
    display: flex;
    align-items: center;

    li {
      span {
        padding: 0 10px;
        cursor: pointer;
      }
      //   position: relative;
    }
  }
  .sub-nav {
    position: absolute;
    top: 89px;
    left: 0;
    width: 100%;
    z-index: 10;
    color: black;
    padding: 10px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #f9f9f9;
  }
}
