//KeyVisual.jsx
.main-visual-swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000;
  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-area {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 0 50px;

    .title {
      font-size: 6.8vw;
      letter-spacing: -0.3rem;
    }
    .sub-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .btn-area {
    height: 20vh;
    position: relative;
    a {
      width: 220px;
      height: 44px;
      background: #fff;
      display: block;
      border-radius: 20px;
      display: flex;
      align-items: center;
      color: #000;
      font-size: 12px;
      padding: 0 20px;
      justify-content: space-between;
      position: absolute;
      bottom: calc(20vh - 80px);
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        background: url("./../../public/images/icon/arrow-link-black.svg");
      }
    }
  }

  // Swiper Controls
  .autoplay-progress-wrap {
    position: absolute;
    left: 50%;
    bottom: 20vh;
    width: calc(100% - 100px);
    height: 2px;
    overflow: hidden;
    background-color: #79797941;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 10;
  }

  .autoplay-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #fff;
    transition: width 0.1s linear;
  }

  .swiper-navigation-icon {
    display: none;
  }

  .swiper-button-prev {
    width: 44px;
    height: 44px;
    bottom: calc(20vh - 80px);
    top: auto;
    right: 105px;
    left: auto;
    z-index: 11;
    &::after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("./../../public/images/icon/swiper-arrow-prev.svg")
        no-repeat center;
      background-size: 100%;
    }
  }

  .swiper-button-next {
    width: 44px;
    height: 44px;
    bottom: calc(20vh - 80px);
    top: auto;
    right: 50px;
    left: auto;
    z-index: 11;
    &::after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("./../../public/images/icon/swiper-arrow-next.svg")
        no-repeat center;
      background-size: 100%;
    }
  }

  .swiper-pagination-fraction {
    top: auto;
    left: auto;
    bottom: calc(20vh - 80px);
    right: 160px;
    display: flex;
    align-items: center;
    width: auto;
    height: 44px;
    color: #fff;
    font-size: 14px;
    span {
      color: #fff;
    }

    &.swiper-pagination-lock {
      display: none;
    }
  }

  .swiper-slide-active {
    .text-contents {
      /*transform: translateY(0); opacity: 1;*/
    }
  }
}

.main-section {
  .title-area {
    padding: 2.5rem;
  }
  .title {
    margin-top: 60px;
    font-size: 60px;
    font-weight: 500;
    line-height: 1.4;
  }
}
