//KeyVisual.jsx
.main-visual-swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #000;
  .bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
    }
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text-area {
    position: absolute;
    left: 0;
    bottom: 0;
    color: #fff;
    width: 100%;
    padding: 0 50px;

    .title {
      font-size: 6.8vw;
      letter-spacing: -0.3rem;
    }
    .sub-title {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  .btn-area {
    height: 20vh;
    position: relative;
    a {
      width: 220px;
      height: 44px;
      background: #fff;
      display: block;
      border-radius: 20px;
      display: flex;
      align-items: center;
      color: #000;
      font-size: 12px;
      padding: 0 20px;
      justify-content: space-between;
      position: absolute;
      bottom: calc(20vh - 80px);
      &::after {
        content: "";
        width: 16px;
        height: 16px;
        background: url("./../../public/images/icon/arrow-link-black.svg");
      }
    }
  }

  // Swiper Controls
  .autoplay-progress-wrap {
    position: absolute;
    left: 50%;
    bottom: 20vh;
    width: calc(100% - 100px);
    height: 2px;
    overflow: hidden;
    background-color: #79797941;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 10;
  }

  .autoplay-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background: #fff;
    transition: width 0.1s linear;
  }

  .swiper-navigation-icon {
    display: none;
  }

  .swiper-button-prev {
    width: 44px;
    height: 44px;
    bottom: calc(20vh - 80px);
    top: auto;
    right: 105px;
    left: auto;
    z-index: 11;
    &::after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("./../../public/images/icon/swiper-arrow-prev.svg")
        no-repeat center;
      background-size: 100%;
    }
  }

  .swiper-button-next {
    width: 44px;
    height: 44px;
    bottom: calc(20vh - 80px);
    top: auto;
    right: 50px;
    left: auto;
    z-index: 11;
    &::after {
      content: "";
      display: block;
      width: 44px;
      height: 44px;
      background: url("./../../public/images/icon/swiper-arrow-next.svg")
        no-repeat center;
      background-size: 100%;
    }
  }

  .swiper-pagination-fraction {
    top: auto;
    left: auto;
    bottom: calc(20vh - 80px);
    right: 160px;
    display: flex;
    align-items: center;
    width: auto;
    height: 44px;
    color: #fff;
    font-size: 14px;
    span {
      color: #fff;
    }

    &.swiper-pagination-lock {
      display: none;
    }
  }

  .swiper-slide-active {
    .text-contents {
      /*transform: translateY(0); opacity: 1;*/
    }
  }
}

//메인 공통
.main-section {
  .title-area {
    padding: 2.5rem;
    .title {
      margin-top: 60px;
      font-size: 60px;
      font-weight: 500;
      line-height: 1.4;
    }
    .desc {
      margin-top: 10px;
      font-size: 24px;
    }
  }
}

//Application
.application {
  .itme-list {
    display: flex;
    height: 784px;
    a {
      .title {
        font-size: 24px;
      }
      .desc {
        margin-top: 10px;
      }
      display: block;
      width: 100%;
      flex: 1;
      transition: flex 0.4s ease, width 0.4s ease;

      padding: 30px;
      color: #fff;

      &:first-child {
        background: url("./../../public/images/content/application-HomeAppliance.png")
          center no-repeat;
        background-size: cover;
      }
      &:nth-child(2) {
        background: url("./../../public/images/content/application-MicroDisplay.png")
          center no-repeat;
        background-size: cover;
      }
      &:last-child {
        background: url("./../../public/images/content/application-SensorData.png")
          center no-repeat;
        background-size: cover;
      }

      &:hover {
        flex: 2;
        .title {
          font-size: 40px;
        }
        .desc {
          font-size: 22px;
        }
      }
    }
    &:hover a:not(:hover) {
      flex: 1;
    }
  }
}

//product highlights
.product-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  background: #fff;
  .product-item {
    grid-column: span 1 / span 1;
    border-bottom: 1px solid rgba(48, 174, 86, 0.2);
    &:nth-child(1),
    &:nth-child(2) {
      border-top: 1px solid rgba(48, 174, 86, 0.2);
    }
    a {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      &:nth-child(odd) {
        border-right: 1px solid rgba(48, 174, 86, 0.2);

        .img {
          margin: 10px;
          border: 1px solid #ccc;
        }
        .txt {
          padding: 20px;
          .cate {
            color: #30ae56;
            font-size: 14px;
          }
          .title {
            font-size: 20px;
            font-weight: 500;
            margin: 10px 0;
          }
          .data {
            dl {
              display: flex;
              justify-content: center;
              dt,
              dd {
                flex: 1;
              }
              dt {
                position: relative;
              }
              dd {
                padding-left: 10px;
              }
              dt:after {
                content: "";
                width: 1px;
                height: 10px;
                background: #999;
                display: block;
                position: absolute;
                top: 6px;
                right: 0;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

//about-us
.aboutus {
  margin-bottom: 500px;
  padding: 2.5rem;
  background: #000;
  // background: url("./../../public/images/content/bg-aboutus.png") black center
  // no-repeat;
  // background-size: contain;
  // background-color: #000;

  .bottom-area {
    display: flex;
    color: #fff;
    position: relative;
    &:before {
      content: "";
      width: calc(100% + 5rem);
      height: 1px;
      background: red;
      position: absolute;
      top: 0;
      left: -2.5rem;
    }
    & > div {
      flex: 1;
      height: 320px;
      padding: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
