.footer {
  .footer-pc {
    height: 840px;
    background: #000;
    color: #fff;
    grid-template-columns: 1fr 3fr;

    .info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px 30px;
      padding-bottom: 0;

      .logo {
        a {
          display: block;
          background: url("./../../public/images/common/footer-logo.svg");
          width: 300px;
          height: 44px;
        }
      }

      .top {
        display: flex;
        flex-direction: column;
        gap: 30px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          display: flex;
          align-items: flex-start;
          gap: 10px;

          img {
            padding: 4px 0;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
    .menu-left {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
    }
    .menu-left,
    .menu-right {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 30px;
    }
    .menu {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      .top {
        display: flex;
        justify-content: space-between;
        padding: 50px 0;

        .gnb-menu {
          font-size: 14px;
          flex: 1 1 auto;

          .gnb-list {
            font-weight: 100;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-top: 20px;

            li {
              a:hover {
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .bottom {
      position: relative;
      height: 120px;
      padding: 20px 0;

      &::before {
        width: calc(100% + 60px);
        height: 1px;
        background: #ccc;
        content: "";
        position: absolute;
        top: 0;
        left: -30px;
        display: block;
      }

      .search-text {
        position: absolute;
        top: -108px;
        padding: 40px 0;
      }

      .link-area {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 40px;
        row-gap: 10px;

        a {
          font-size: 12px;
          text-decoration: underline;
        }
      }

      .copyright {
        margin-top: 20px;
        font-size: 12px;
      }

      .footer-social {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 20px;
        a {
          display: flex;
          align-items: center;
          gap: 10px;
          opacity: 0.5;
          transition: ease-in-out 0.2s;
          font-size: 14px;
          &:hover {
            opacity: 1;
          }
        }
      }
      .family-site {
        display: flex;
        align-items: center;
        height: 100%;
        width: 300px;
        height: 56px;
        position: relative;
        button {
          width: 100%;
          height: 100%;
          border: 1px solid #ccc;
          border-radius: 4px;
          display: flex;
          cursor: pointer;
          span {
            display: block;
            width: calc(100% - 40px);
            height: 100%;
            display: flex;
            padding-left: 20px;
            align-items: center;
          }
          .ico {
            width: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
        .family-list {
          width: 100%;
          position: absolute;
          bottom: 54px;
          left: 0;
          background: #000;
          border: 1px solid #ccc;
          border-radius: 4px 4px 0 0;

          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease, opacity 0.3s ease;
          opacity: 0;

          &.on {
            max-height: 500px;
            opacity: 1;
          }

          li {
            height: 56px;
            padding-left: 20px;
            display: flex;
            align-items: center;

            &:hover {
              background: rgba(48, 174, 86, 0.25);
              transition: background 0.2s ease-in-out;
            }

            a {
              display: block;
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              text-decoration: none;
              color: #fff;
            }
          }
        }
      }
    }
  }
  .footer-mo {
    background: #000;
    color: white;
    //아코디언
    .ant-collapse-header {
      color: #fff;
      .ant-collapse-expand-icon {
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 50%;
          l: 50%;
          width: 8px;
          height: 1px;
          background: #fff;
          transform: translate(-50%, -50%);
        }
        svg {
          display: none;
        }
      }
    }
  }
}
