@import "tailwindcss";
@import "./../styles/layout.scss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

// @theme inline {
//   --color-background: var(--background);
//   --color-foreground: var(--foreground);
//   --font-sans: var(--font-geist-sans);
//   --font-mono: var(--font-geist-mono);
// }

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.04em;
}

/* Box sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
}

/* Remove list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Anchor default styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Form defaults */
input,
button,
textarea,
select {
  font: inherit;
}

/* Root scroll behaviour */
html:focus-within {
  scroll-behavior: smooth;
}
