.container {
  max-width: 100%;
}

//breadcrumb
.breadcrumb {
  display: flex;
  gap: 10px;
  a {
    opacity: 0.5;
    display: flex;
    align-items: center;
    &:last-child {
      opacity: 1;
      &::after {
        display: none;
      }
    }
    &:after {
      content: " > ";
      display: inline-flex;
      margin-left: 10px;
      font-size: 10px;
    }
  }
}

//floating-lnb
.floating-lnb {
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .breadcrumb {
    padding-left: 40px;
  }
  .select {
    padding-right: 40px;
  }
}

.select {
  height: 100%;
  width: 400px;
  .ant-select {
    background: #30ae56;
    width: 100%;
    height: 100%;
    // background: #30ae56;
    .ant-select-selector {
      background: #30ae56;
      border: 0;
      // color: red;
    }
    .ant-select-selection-item,
    .anticon-down {
      color: #fff;
    }
  }
}

.ant-select-dropdown {
  border-radius: 0;
  border: 1px solid #ccc;
}
.ant-select-item-option {
  height: 50px;
  align-items: center;
}
